{
    "extends": ["airbnb", "prettier", "prettier/react"],
    "plugins": ["prettier", "react-hooks"],
    "rules": {
      "react/jsx-filename-extension": [
        1,
        {
          "extensions": [".js", ".jsx"]
        }
      ],
      "react-hooks/rules-of-hooks": 2,
      "react-hooks/exhaustive-deps": 1,
      "react/react-in-jsx-scope": 0,
      "import/imports-first": [2, "absolute-first"],
      "import/newline-after-import": 2,
      // https://github.com/evcohen/eslint-plugin-jsx-a11y/blob/master/docs/rules/anchor-is-valid.md#rule-details
      "jsx-a11y/anchor-is-valid": [ 2, {
        "aspects": [ "invalidHref" ]
      }],
      "prettier/prettier": [
        2,
        {
          "trailingComma": "es5",
          "singleQuote": true,
          "printWidth": 80,
        }
      ]
    },
    "globals": {
      "window": true,
      "document": true,
      "localStorage": true,
      "FormData": true,
      "FileReader": true,
      "Blob": true,
      "navigator": true
    },
    "parser": "babel-eslint",
  }